<body onload="onLoaderFunc()">
  <div class="inputForm">
      <center>
        <span id="seat-num-label">Nhap so ghe: </span><input type="number" id="Numseats" min="1" required>
        <button onclick="takeData()" class="btn btn-confirm">OK</button>
      </center>
    </div>
    <div id="hidden-part">
      <div class="seatStructure">
        <center>
          <p id="notification"></p>
          <div class="screen">SCREEN</div>
          <table id="seatsBlock">
          <tr>
            <td></td>
            <% @cinema_seats.maximum('seat_no').times do |x| %>
              <td><span style="margin-left: 10px;"><%= (x+1) %></span></td>
            <% end -%>
          </tr>
          <% @cinema_seats.maximum('row').times do |x| %>
            <tr>
              <td style="padding-bottom:0"><span><%= (x+65).chr %></span></td>
              <% @cinema_seats.each do |seat| %>
                <% if seat.row == x+1 %>
                  <td><input type="checkbox" class="seats" value="<%= (x+65).chr + seat.seat_no.to_s %>" data-seatprice="<%= seat.price %>"></td>
                <% end -%>
              <% end -%>
            </tr>
          <% end -%>
        </table>
        <div class="label-seat-status">
          <div class="smallBox greenBox"><span>Ghe vua chon</span></div>
          <div class="smallBox redBox"><span>Ghe da duoc dat</span></div>
          <div class="smallBox emptyBox"><span>Ghe co the dat</span></div>
        </div>
        <button onclick="updateTextArea()" class="btn btn-confirm">Luu ghe da chon</button>
      </center>
    </div>
    <div class="displayerBoxes">
      <center id="seat-result-box" style="display:none;color: #222;">
        <h3>Cac ghe da chon</h3>
        <b id="seat-selected" style="text-align:center;color: #222;font-size: 18px;"></b>
        <br><h3>Tong gia ve</h3>
        <b id="seat-total-price" style="text-align:center;color: #222;font-size: 18px;"></b>
        <br>
        <%= link_to 'Thanh toan', booking_tickets_path(@show.id, @show.screen_id), class: "btn btn-primary" %>
      </center>
    </div>
  </div>
</body>
<script type="text/javascript">
function onLoaderFunc(){
  $(".seatStructure *").prop("disabled", true);
  $(".displayerBoxes *").prop("disabled", true);
}

function takeData(){
  if ( $("#Numseats").val().length == 0 || $("#Numseats").val() < 0 )
  {
    alert("Hay nhap so luong ghe can dat!");
  }
  else
  {
    $(".inputForm *").prop("disabled", true);
    $(".seatStructure *").prop("disabled", false);
    $("#notification").html("<b style='margin-bottom:0px;background:yellow;font-size:20px;'>Hay lua chon cho ngoi!</b>");
    $("#hidden-part").show();
  }
}

function updateTextArea(){ 
  if ($("input:checked").length == ($("#Numseats").val()))
  {
    $(".seatStructure *").prop("disabled", true);

    var allNumberVals = [];
    var allSeatsVals = [];
    var seatTotalPrice = 0;

    allNumberVals.push($("#Numseats").val());
    $('#seatsBlock :checked').each(function() {
      allSeatsVals.push($(this).val());
      seatTotalPrice += $('#seatsBlock :checked').data('seatprice');
    });

    $('#seat-selected').text(allSeatsVals);
    $('#seat-total-price').text(seatTotalPrice);
    $('#seat-result-box').show();
    localStorage.setItem("num_seat", allNumberVals);
    localStorage.setItem("list_seats", allSeatsVals);
    localStorage.setItem("seat_price", seatTotalPrice);
  }
  else
  {
    alert("Hay chon du " + ($("#Numseats").val()) + " cho ngoi!")
  }
}

$(":checkbox").click(function() {
  if ($("input:checked").length == ($("#Numseats").val())) {
    $(":checkbox").prop('disabled', true);
    $(':checked').prop('disabled', false);
  }
  else
  {
    $(":checkbox").prop('disabled', false);
  }
});
</script>
