<body onload="onLoaderFunc()">
  <div class="inputForm">
      <center>
        <span id="seat-num-label">Vui lòng nhập số lượng ghế cần đặt: </span><input type="number" id="Numseats" min="1" required>
        <button onclick="takeData()" class="btn btn-confirm">OK</button>
        <h3 style="color: #222;font-weight: 300;" id="remainsSeat" data-remain="<%= @remains_seat %>">Số ghế còn lại: <b><%= @remains_seat.to_s + "/" + @total_seat.length.to_s %></b></h3>
      </center>
    </div>
    <div id="hidden-part">
      <div class="seatStructure">
        <center>
          <p id="notification"></p>
          <div class="screen">Màn hình</div>
          <table id="seatsBlock">
          <tr>
            <td></td>
            <% @cinema_seats.maximum('seat_no').times do |x| %>
              <td><span style="margin-left: 10px;"><%= (x+1) %></span></td>
            <% end -%>
          </tr>
          <% @cinema_seats.maximum('row').times do |x| %>
            <tr>
              <td style="padding-bottom:0"><span><%= (x+65).chr %></span></td>
              <% @cinema_seats.each do |seat| %>
                <% if seat.row == x+1 %>
                  <% if seat.id.in?(@seat_reserved_ids) %>
                    <td><span class="seat_reserved"><input type="checkbox"><span></td>
                  <% else %>
                    <td><input type="checkbox" class="seats" value="<%= (x+65).chr + seat.seat_no.to_s %>" data-seatprice="<%= seat.price %>"></td>
                  <% end -%>
                <% end -%>
              <% end -%>
            </tr>
          <% end -%>
        </table>
        <div class="label-seat-status">
          <div class="smallBox greenBox"><span>Ghế vừa chọn</span></div>
          <div class="smallBox redBox"><span>Ghế đã được đặt</span></div>
          <div class="smallBox emptyBox"><span>Ghế có thể đặt</span></div>
        </div>
        <button onclick="updateTextArea()" class="btn btn-confirm">Lưu lại các lựa chọn</button>
      </center>
    </div>
    <div class="displayerBoxes">
      <center id="seat-result-box" style="display:none;color: #222;">
        <h3 style="margin-top:0">Ghế vừa chọn</h3>
        <b id="seat-selected" style="text-align:center;color: #222;font-size: 20px;color: green;"></b>
        <h3>Tổng giá vé</h3>
        <b id="seat-total-price" style="text-align:center;color: #222;font-size: 25px;color: red;"></b>
        <br>
        <%= link_to 'Hủy bỏ', "", class: "btn btn-primary" %>
        <%= link_to 'Tiếp tục', booking_tickets_path(@show.id, @show.screen_id), class: "btn btn-primary" %>
      </center>
    </div>
  </div>
</body>
<script type="text/javascript">
function onLoaderFunc(){
  $(".seatStructure *").prop("disabled", true);
  $(".displayerBoxes *").prop("disabled", true);
}

function takeData(){
  inputSeat = parseInt($("#Numseats").val());
  seatLeft = parseInt($("#remainsSeat").data("remain"));

  if ( $("#Numseats").val().length == 0 || $("#Numseats").val() < 0 )
  {
    alert("Xin vui lòng nhập số lượng chỗ ngồi cần đặt vào ô bên dưới!");
  }
  else if(seatLeft < inputSeat){
    alert("Suất chiếu chỉ còn lại " + seatLeft + " chỗ ngồi. Vui lòng nhập số lượng ít hơn hoặc chọn suất chiếu khác.");
    $("#Numseats").val("");
  }
  else
  {
    $(".inputForm *").prop("disabled", true);
    $(".seatStructure *").prop("disabled", false);
    $(".seat_reserved *").prop("disabled", true);
    $("#notification").html("<b style='margin-bottom:0px;background:yellow;font-size:20px;'>Xin vui lòng chọn chỗ ngồi của bạn!</b>");
    $("#hidden-part").show();
  }
}

function updateTextArea(){ 
  if ($("input:checked").length == ($("#Numseats").val()))
  {
    $(".seatStructure *").prop("disabled", true);

    var allNumberVals = [];
    var allSeatsVals = [];
    var seatTotalPrice = 0;

    allNumberVals.push($("#Numseats").val());
    $('#seatsBlock :checked').each(function() {
      allSeatsVals.push($(this).val());
      seatTotalPrice += $('#seatsBlock :checked').data('seatprice');
    });

    $('#seat-selected').text(allSeatsVals);
    $('#seat-total-price').text(seatTotalPrice + ".000 VNĐ");
    $('#seat-result-box').show();
    localStorage.setItem("num_seat", allNumberVals);
    localStorage.setItem("list_seats", allSeatsVals);
    localStorage.setItem("seat_price", seatTotalPrice);
  }
  else
  {
    alert("Vui lòng chọn đủ " + ($("#Numseats").val()) + " chỗ ngồi!")
  }
}

$(":checkbox").click(function() {
  if ($("input:checked").length == ($("#Numseats").val())) {
    $(":checkbox").prop('disabled', true);
    $(':checked').prop('disabled', false);
  }
  else
  {
    $(":checkbox").prop('disabled', false);
  }
});
</script>
