<div class="show-movie-details">
  <h1 id="title-detail">Thanh toán</h1>
  <div class="poster" style="margin-right: 30px;">
    <%= image_tag @movie.image_link, class: "img-thumbnail" %>
  </div>
	<div id="new-ticket">
		<h3><p><%= "Phim: " + @movie.title %></p></h3>
		<h3><p><%= "Thoi luong: " + @movie.length.to_s + " phut" %></p></h3>
		<h3><p><%= "Thoi gian chieu phim: " + @show.start_time + " - " + @show.end_time %></p></h3>
		<h3><p id="p_num_seat"></p></h3>
		<h3><p id="p_seat"></p></h3>
	</div>

  <%= form_with(model: @booking_ticket) do |form| %>
    <%= form.hidden_field :seat_quantity, id: "f_seat_quan" %>
    <%= form.hidden_field :seat_ids, id: "f_seat_ids" %>
    <%= form.submit "Thanh toan", class: "btn btn-primary " %>
  <% end -%>
</div>
<script type="text/javascript">
	var num_seat = localStorage.getItem("num_seat");
	var list_seats = localStorage.getItem("list_seats");

	$("#p_num_seat").html("So ghe da dat: " + num_seat);
	$("#p_seat").html("Ghe da dat: " + list_seats);
	$("#f_seat_quan").val(num_seat);
	$("#f_seat_ids").val(list_seats);
</script>
