<div class="time-select-cotent show-movie-details">
  <h1 id="title-detail">Chọn lịch chiếu phim</h1>
  <div class="poster">
    <%= image_tag @movie.image_link, class: "img-thumbnail" %>
  </div>
  <% if !@shows.first.nil? %>
    <% @shows.each do |show| %>
      <%= link_to screens_path(show.id, show.screen_id) do %>
        <div class="time-select-btn">
          <% @screens.each do |screen| %>
            <% if screen.id == show.screen_id %>
              <%=  'Phòng chiếu ' + screen.name %>
            <% end -%>
          <% end -%>          
          <br><%= show.start_time + " - " + show.end_time %>
          <br><%= show.date_show.strftime("%d - %m - %Y") %>
        </div>
      <% end -%>
    <% end -%>
  <% else %>
    <h3 style="text-align:center;color: red;">Phim chưa có suất chiếu mới</h3>
  <% end -%>
</div>
