<div class="time-select-cotent">
<% if !@shows.first.nil? %>
  <div class="poster">
    <%= image_tag @movie.image_link, class: "img-thumbnail" %>
  </div>
  <% @shows.each do |show| %>
    <%= link_to screen_path(show.id) do %>
      <div class="time-select-btn">
        <%= show.start_time + " - " + show.end_time %><br>
        <%= show.date_show.strftime("%d - %m - %Y") %><br>
        <%=  'Man hinh ' + show.screen_id.to_s %>
      </div>
    <% end -%>
  <% end -%>
<% end -%>
</div>
