<div class="header-language-background">
  <div class="header-container">
    <div class="header-language-right">
      <div class="header-career mn-career">
        <p>
          <a href="#"><img src="https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/recruitment_icon1.png">Tuyển dụng</a>
        </p>
      </div>

      <div class="header-career mn-newsofter">
        <p>
          <a href="#"><img src="https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/icon_promotion25.png">Tin mới & Ưu đãi</a>
        </p>
      </div>

      <div class="header-career mn-myticket">
        <p>
          <a href="#"><img src="https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/icon_ticket25.png">Vé Của Tôi</a>
        </p>
      </div>

      <div class="header-language-container">
        <div class="store-language-container">
          <div class="form-language">
            <ul>
              <li>
                <a href="#" class="btn-vn">VN</a>
              </li>
              <li>
                <a href="#" class="btn-en">EN</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="header-top-account">
        <div class="account-header-wrapper mn-login"> 
          <img src="https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/icon_login25.png">
          <% if !logged_in? %>
            <%= link_to "Đăng nhập/ Đăng ký", login_path %>
          <% else %>
            <%= link_to "Profile", current_user %>
            <span style="border-left: 1px solid black;margin-right: 3px;"></span>
            <%= link_to "Đăng xuất", logout_path, method: :delete %>
          <% end -%>            
        </div>
      </div>
    </div> 
  </div>  
</div>

<header id="header" class="page-header">
  <div class="page-header-container">
    <%= link_to (image_tag("https://www.cgv.vn/skin/frontend/cgv/default/images/cgvlogo.png", class: "large")), root_path, class: "logo" %>
    <!-- <img class="small" src="https://www.cgv.vn/skin/frontend/cgv/default/images/cgvlogo-small.png"> -->
    
    <div id="header-nav" class="skip-content">
      <nav id="nav">
        <ol class="nav-primary">
          <li>
            <%= link_to "Phim", movie_demo_path %>
          </li>
          <li>
            <a href="#">Rạp CGV</a>
          </li>
          <li>
            <a href="#">Thành viên</a>
          </li>
          <li>
            <a href="#">Cultureplex</a>
          </li>
        </ol>
      </nav>
    </div> 

    <div id="header-search" class="skip-content">
      <div class="header-search-left">
        <p class="kenhcine">
          <a href=""><img src="https://www.cgv.vn/media/wysiwyg/2019/AUG/kenhcine.gif"></a>
        </p>
      </div>

      <div class="header-search-right">
        <p>
          <a href=""><img src="https://www.cgv.vn/media/wysiwyg/news-offers/mua-ve_ngay.png"></a>
        </p>
      </div>
    </div> 

    <div id="header-account" class="skip-content">
      
    </div> 

  </div>  
</header>
